{
	"env": {
		"browser": true,
		"es2020": true
	},
	"extends": ["airbnb-base", "plugin:@wordpress/eslint-plugin/recommended"],
	"parserOptions": {
		"ecmaVersion": 11,
		"sourceType": "module"
	},
	"rules": {
		"prettier/prettier": ["warn", { "endOfLine": "auto" }]
	}
}
